<!DOCTYPE html>
<html>
  <head>
    <title>This app is a Toast Machine | <%= @title %></title>
  </head>
  <body>
    <h1>Toast App</h1>
    <p> Are you ready boots? Start toasting.</p>
  </body>
</html>